{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Register</h1>
	{{ form_start(form) }}
	    {{ form_row(form.name) }}
	    {{ form_row(form.username) }}
	    {{ form_row(form.plainPassword.first) }}
	    {{ form_row(form.plainPassword.second) }}
	    {{ form_row(form.roles) }}
	    <button type="submit" class="registerbtn">Register</button>
	{{ form_end(form) }}
</div>
{% endblock %}

{% block stylesheets %}
<style>
	body { font-family: Arial, Helvetica, sans-serif; background-color: black; }
	* { box-sizing: border-box; }
	.container { padding: 16px; background-color: white; }
	input[type=text], input[type=password] { font-size: 14px; width: 100%; padding: 15px; margin: 5px 0 22px 0; display: inline-block; border: none; background: #f1f1f1; }
	select { font-size: 14px; width: 100%; margin: 5px 0 22px 0; display: inline-block; border: none; background: #f1f1f1; }
	input[type=text]:focus, input[type=password]:focus { background-color: #ddd; outline: none; }
	.registerbtn { background-color: #4CAF50; color: white; padding: 16px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%; opacity: 0.9; }
	.registerbtn:hover { opacity: 1; }
	form ul { list-style: none; padding: 0; margin: 5px 0; }
	form ul li { color: red; }
	.alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; padding: 20px; }
</style>
{% endblock %}